@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
	padding: 0;
	margin: 0;
}

:root{
	--themeColor:#5045E6;
	--headingColor:#151515;
	--paragraphColor: #333333;
	--borderColor:#cccccc;
	--lightColor:#eeeeee;
	--borderRadius: 2px;
	--lightGreen: #8CCC3F;
	--purple:#8224E3;
	--cyan:#40D1D1;
	--red:#DD3333;
}

::-moz-selection { 
	background-color: var(--themeColor);
	color: white;
}

::selection {
	background-color: var(--themeColor);
	color: white;
}

body{
	font-family: 'Roboto', sans-serif;
	color: var(--paragraphColor);
	font-size: 16px;
	line-height: 1.6em;
}

a, input, button, select, textarea, .transition{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

input:focus, button:focus, select:focus, textarea:focus, :focus{
	outline: none;
}

a{
	display: inline-block;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

ul, ol{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5{
	color: var(--headingColor);
	font-weight: 600;
	line-height: 1.5em;
}

ol{
	list-style: decimal;
	margin-left: 15px;
}

ol li{
	margin: 5px 0;
}

strong{
	font-weight: 600;
}

.cursorPointer{
	cursor: pointer;
}

.buttonStyle{
	background-color: var(--themeColor);
	padding: 10px 20px;
	color: white;
	border-radius: var(--borderRadius);
}

.buttonStyle:hover{
	background-color: var(--headingColor);
}

.buttonStyleBlack{
	background-color: var(--headingColor);
	padding: 10px 20px;
	color: white;
	border-radius: var(--borderRadius);
}

.buttonStyleBlack:hover{
	background-color: var(--borderColor);
	color: var(--headingColor);
}

.buttonStyleWithIcon{
	border:1px solid var(--themeColor);
	color: var(--themeColor);
	padding: 5px 20px 5px 5px;
	border-radius: 30px;
	font-weight: 500;
}

.buttonStyleWithIcon span{
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background-color: var(--themeColor);
	color: white;
	border-radius: 50px;
	font-size: 13px;
	margin-right: 10px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.buttonStyleWithIcon:hover{
	background-color: var(--themeColor);
	color: white;
}

.buttonStyleWithIcon:hover span{
	background-color: var(--headingColor);
	color: white;
}

.loginWithGoogle {
	display: flex;
	padding: 5px;
	background-color: #4183f3;
	color: white;
	border-radius: var(--borderRadius);
	align-items: center;
}

.loginWithGoogle span{
	background-color: white;
	color: #4183f3;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: var(--borderRadius);
	margin-right: 10px;
	font-size: 21px;
}

.loginWithLinkedin {
	display: flex;
	padding: 5px;
	background-color: #0A66C2;
	color: white;
	border-radius: var(--borderRadius);
	align-items: center;
}

.loginWithLinkedin span{
	background-color: white;
	color: #0A66C2;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: var(--borderRadius);
	margin-right: 10px;
	font-size: 21px;
}

.loginWithGoogle:hover, .loginWithLinkedin:hover{
	background-color: var(--headingColor);
}

.simpleLink{
	color: var(--themeColor);
}

.simpleLink:hover{
	color: var(--headingColor);
}

.simpleLinkDark{
	color: var(--headingColor);
}

.simpleLinkDark:hover{
	color: var(--themeColor);
}

.themeColorBG{
	background-color: var(--themeColor);
}

.lightBG{
	background-color: var(--lightColor);
}

.themeColorTEXT{
	color: var(--themeColor);
}

.sectionPadding{
	padding: 70px 0;
}

.font14{
	font-size:14px;
}

.lightGreenBorder{
	border-bottom: 2px solid var(--lightGreen);
	border-radius: var(--borderRadius);
}

.purpleBorder{
	border-bottom: 2px solid var(--purple);
	border-radius: var(--borderRadius);
}

.cyanBorder{
	border-bottom: 2px solid var(--cyan);
	border-radius: var(--borderRadius);
}

.redBorder{
	border-bottom: 2px solid var(--red);
	border-radius: var(--borderRadius);
}

/* Header */

#header{

}

.navigation{
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 9999;
}

.navigation li{
	position: relative;
	margin: 0 20px;
}

.navigation li a span{
	display: none;
}

.navigation li a{
	color: var(--headingColor);
	font-weight: 500;
	padding: 10px 0;
}

.navigation li a:hover, .navigation li a.active{
	color: var(--themeColor);
}

.navigation li ul{
	position: absolute;
	width: 300px;
	background-color: var(--lightColor);
	left: 0;
	display: none;
}

.navigation li:hover ul{
	display: block;
}

.navigation li ul li{
	margin: 15px;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

.navigation li ul li a{
	border-bottom: 1px solid var(--borderColor);
	position: relative;
	display: inline-block;
	padding: 0;
}

.navigation li ul li a:hover{
	display: block;
}

.navigation li ul li a:after{
	content: "";
	width: 0%;
	height: 1px;
	background-color: var(--themeColor);
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.navigation li ul li a:hover:after{
	width: 100%;
}

.searchIcon{
	color: var(--headingColor);
}

.searchIcon:hover{
	color: var(--themeColor);
}

/* Hero Area */

#heroArea{
	background-color: var(--);
}

#heroArea h1{
	color: white;
	font-size: 60px;
	font-weight: 500;
	line-height: 1.2em;
}

#heroArea p{
	color: white;
	font-size: 18px;
}

.subscriberForm{
	display: flex;
}

.subscriberForm input{
	padding: 15px;
	border:none;
	border-radius: 50px;
	width: 80%;
}

.subscriberForm button{
	padding: 15px;
	border:none;
	border-radius: 50px;
	width: 30%;
	background-color: var(--headingColor);
	color: white;
	-moz-transform: translateX(-50px);
	-webkit-transform: translateX(-50px);
	-o-transform: translateX(-50px);
	-ms-transform: translateX(-50px);
	transform: translateX(-50px);
}

.subscriberForm button:hover{
	background-color: white;
	color: var(--themeColor);
}

/* NewsBoxOne */

.newsBoxOne .newsBoxOneImage{
	position: relative;
}

.newsBoxOne .newsBoxOneImageOverlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	display: flex;
	padding: 20px 20px 10px 20px;
	align-items: flex-end;
	justify-content: space-between;
}

.newsBoxOne .newsBoxOneImageOverlay .leftOverlay span{
		display: block;
		color: white;
		font-size: 14px;
}

.newsBoxOne .newsBoxOneImageOverlay .rightOverlay span{
	display: block;
	margin: 5px 0;
	cursor: pointer;
}

.newsBoxOne .newsBoxOneHead{
	font-weight: 700;
	color: var(--headingColor);
}

.newsBoxOne .newsBoxOneHead:hover{
	color: var(--themeColor);
}

.newsBoxOne ul{
	font-size: 12px;
	display: flex;
}

.newsBoxOne ul li{
	display: flex;
	line-height: 1.3em;
	border:1px solid var(--themeColor);
	margin-left: -1px;
	padding: 3px;
	align-items: center;
	flex:.33;
}

.newsBoxOne ul li .trendNumber{
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: white;
	font-weight: 600;
	border-radius: 50%;
	display: block;
	background-color: var(--themeColor);
	margin: 0 6px 0 0;
	flex:none;
}

/* Newsletter */

.newsLetterForm{
	display: flex;
}

.newsLetterForm input{
	width: 38%;
	margin: 0 10px;
	padding: 15px;
	border:none;
	border-radius: var(--borderRadius);
}

.newsLetterForm button{
	width: 20%;
	margin: 0 10px;
	padding: 15px;
	border:none;
	border-radius: var(--borderRadius);
	background-color: var(--headingColor);
	color: white;
}

/* Footer */

#footer{
	font-size: 14px;
	color: #666;
}

#footer ul li a{
	color: var(--paragraphColor);
	margin: 5px 0;
}

#footer ul li a:hover{
	color: var(--themeColor);
}

/* Search Box */

#searchBox{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: var(--lightColor);
	display: none;
	z-index: 9999;
}

#searchBox form{
	width: 70%;
	margin: 50px auto; 
	position: relative;
}

#searchBox form input{
	padding: 15px 15px 15px 40px;
	border:none;
	width: 100%;
}

#searchBox form span{
	position: absolute;
	top: 15px;
	left: 10px;
}

#searchBox form .closeSearchBox{
	position: absolute;
	top: -25px;
	right: -25px;
	background-color: var(--themeColor);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	border-radius: 60px;
	cursor: pointer;
}

#searchBox .searchitems{
	width: 70%;
	margin: 0px auto; 
	position: relative;
	height: 100%;
	padding-bottom: 150px;
	overflow-y: scroll;
}

#searchBox .searchitems::-webkit-scrollbar {
  display: none;
}

#searchBox .searchitems {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#searchBox .searchitems li{
	background-color: white;
	padding: 20px;
	border-radius: var(--borderRadius);
	-webkit-box-shadow: 0 2px 2px 1px #ddd;
	box-shadow: 0 2px 2px 1px #ddd;	
	margin-bottom: 30px;
}

#searchBox .searchitems li a{
	display: flex;
}

#searchBox .searchitems li a .searchContent{
	flex: .85;
}

#searchBox .searchitems li a .searchImage{
	flex: .15;
}

.searchBar{
	display: flex;
}

.searchBar input{
	width: 100%;
	padding: 10px;
	border:none;
	border-radius: var(--borderRadius);
}

.searchBar button{
	padding: 10px 15px;
	border:none;
	border-radius: var(--borderRadius);
	background-color: var(--themeColor);
	color: white;
}

.searchBar button:hover{
	background-color: var(--headingColor);
}

.mainNews{
	position: relative;
}

.mainNews .overlayContent{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	display: flex;
	padding: 20px;
	align-items: flex-end;
}

.mainNews .overlayContent .leftContent{
	flex: .7;
}

.mainNews .overlayContent .leftContent ul{
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 14px;
}

.mainNews .overlayContent .leftContent ul li span{
	margin: 0 10px;
	cursor: pointer;
}

.mainNews .overlayContent .rightContent{
	flex: .3;
	justify-content: flex-end;
	display: flex;
}

.mainNews .overlayContent .rightContent ul{
	width: 100%;
	margin-left: 30px;
}

.mainNews .overlayContent .rightContent ul li{
	margin: 10px 0;
	border:1px solid white;
	padding: 10px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainNews .overlayContent .rightContent ul li i{
	font-style: normal;
	width: 50%;
}

.mainNews .overlayContent .rightContent ul li span{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: var(--themeColor);
	display: inline-block;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	margin-left: 10px;
}

.mainNewsControls{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

.mainNewsControls .mainNewsWrapper-prev, .mainNewsControls .mainNewsWrapper-next{
	color: var(--themeColor);
	font-size: 26px;
}

.mainNewsControls .mainNewsWrapper-pagination .swiper-pagination-bullet{
	width: 30px;
	height: 6px;
	border-radius: 50px;
	display: inline-block;
	background-color: var(--themeColor);
}

.customPagination .pagination{
	border:1px solid var(--borderColor);
	border-radius: var(--borderRadius);
}

.customPagination .page-link{
	border:none;
	color: var(--paragraphColor);
}

.customPagination .active .page-link{
	background-color: var(--themeColor);
	color: white;
}

.customPagination .page-link:hover{
	background-color: var(--themeColor);
	color: white;
}

.customPagination .page-item:first-child .page-link, .customPagination .page-item:last-child .page-link{
	border-radius: 0;
}

.twoFlex li{
	display: flex;
	align-items: center;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px dotted var(--borderColor);
}

.twoFlex li:last-child{
	border-bottom: none;
	margin: 0;
	padding: 0;
}

.twoFlex li .companyInfo{
	flex:.8;
}

.twoFlex li .companyCount{
	flex:.2;
	display: flex;
	justify-content: end;
}

.twoFlex li .companyCount span{
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border:1px solid var(--themeColor);
	color: var(--themeColor);
	font-weight: 500;
	font-size: 18px;
	border-radius: 50px;
}

.informationBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.informationBar li{
	color:white;
}

.informationBar li:nth-child(1){
		flex: .4;
}

.informationBar li:nth-child(2){
	flex: .15;
}

.informationBar li:nth-child(3){
	flex: .15;
}

.informationBar li:nth-child(4){
	flex: .15;	
}

.informationBar li:nth-child(5){
	flex: .15;
}

.informationBar li i{
	font-style: normal;
}

.infoBar{
	background-color: white;
	padding: 10px;
	color: var(--headingColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1px;
}

.infoBar i{
	font-style: normal;
	width: 50%;
	color: var(--headingColor);
}

.infoBar span{
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: var(--themeColor);
	display: inline-block;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	margin-left: 10px;
}

.sharing span{
	display: inline-block;
	margin: 0 10px;
}

.newsListOne li{
	display: flex;
	padding: 15px;
	border:1px solid var(--borderColor);
	align-items: center;
	margin-bottom: 30px;
}

.newsListOne li span:nth-child(1){
	flex: .2;
	display: inline-block;
}

.newsListOne li span:nth-child(2){
	flex: .7;
	display: inline-block;
	padding-left: 15px;
}

.newsListOne li span:nth-child(3){
	flex: .1;
	display: flex;
	justify-content: flex-end;
}

.newsListOne li span:nth-child(3) .counter{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: 500;
	font-size: 21px;
	background-color: var(--themeColor);
	border-radius: 50%;
	display: inline-block;
	color: white;
}

.customTable{
	width: 100%;
	border:1px solid var(--borderColor);
}
.customTable tr th{
	padding: 10px;
	background-color: var(--themeColor);
	color: white;
	font-weight: 500;
}
.customTable tr td{
	padding: 10px;
	border-top:1px solid var(--borderColor);
	border-bottom:1px solid var(--borderColor);
}
.customTable tr:nth-child(odd){
	background-color: var(--lightColor);
}
.customTable tr td .count{
	background-color: var(--themeColor);
	color: white;
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: var(--borderRadius);
}

.influencerComments li {
	background-color: white;
	-webkit-box-shadow: 0 0 10px 2px var(--lightColor);
	box-shadow: 0 0 10px 2px var(--lightColor);	
	border-radius: var(--borderRadius);
	padding: 15px;
	margin-bottom: 30px;
}

.influencerComments li > span{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.reports li {
	background-color: white;
	-webkit-box-shadow: 0 0 10px 2px var(--lightColor);
	box-shadow: 0 0 10px 2px var(--lightColor);	
	border-radius: var(--borderRadius);
	padding: 15px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.reports li div{
	flex: .8;
}

.reports li div+div{
	flex: .2;
	margin-left: 15px;
}

.reports > li > div > span{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.podcasts li {
	background-color: white;
	-webkit-box-shadow: 0 0 10px 2px var(--lightColor);
	box-shadow: 0 0 10px 2px var(--lightColor);	
	border-radius: var(--borderRadius);
	padding: 15px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.podcasts li div{
	flex: .3;
	margin-right: 15px;
}

.podcasts li div+div{
	flex: .7;
}

.sortingSelect{
	border:none;
	padding: 5px;
}

.loginForm label{
	display: block;
	font-weight: 500;
	color: var(--paragraphColor);
}

.loginForm input{
	padding: 10px;
	border:1px solid var(--borderColor);
	width: 100%;
	border-radius: var(--borderRadius);
	margin-bottom: 20px;
}

.loginForm input:focus{
	border-color: var(--themeColor);
}

.dashTabs button{
	background-color: var(--lightColor);
	border:none;
	width: 100%;
	padding: 10px;
	font-weight: 500;
	color: var(--headingColor);
	text-align: left;
	border:1px solid var(--borderColor);
	outline: none;
}

.dashTabs button.active{
	background-color: var(--themeColor);
	border:1px solid var(--themeColor);
	color: white;
}

.customTableStyle{
	width: 100%;
}

.customTableStyle tr th{
	background-color: var(--themeColor);
	padding: 10px;
	color: white;
	font-weight: 500;
}

.customTableStyle tr td{
	padding: 10px;
	border:1px solid var(--borderColor);
	border-radius: var(--borderRadius);
	vertical-align: middle;
}

.formStyle label{
	font-weight: 500;
	margin: 0 0 5px 0;
	display: block;
	color: var(--headingColor)
}

.formStyle label span{
	color: var(--themeColor)
}

.formStyle label em{
	font-style: normal;
	color: var(--paragraphColor);
	font-weight: 300
}

.formStyle input[type="text"], .formStyle input[type="password"], .formStyle input[type="email"], .formStyle input[type="tel"], .formStyle select, .formStyle textarea{
	padding: 10px;
	width: 100%;
	border: 1px solid var(--borderColor);
	margin: 0 0 20px 0
}

.formStyle input[type="text"]:focus, .formStyle input[type="password"]:focus, .formStyle input[type="email"]:focus, .formStyle input[type="tel"]:focus, .formStyle select:focus, .formStyle textarea:focus{
	border-color: var(--themeColor)
}

.fieldSetStyle{
	border: 1px solid var(--themeColor);
	padding: 20px;
	margin: 20px 0 20px 0;
}

.fieldSetStyle legend{
	background-color: white;
	color: var(--themeColor);
	font-size: 15px;
	font-weight: 500;
	margin: -30px 0 20px 0;
	padding: 0 0 0 10px;
}

@media screen and (min-width:100px) and (max-width:767px){

	.sectionPadding{
		padding: 40px 0;
	}

	.navigation{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--lightColor);
		font-size:14px;
		z-index: 9999;
	}

	.navigation li{
		border-right: 1px solid white;
		flex: .33;
		margin: 0;
		padding: 0 12px;
		text-align: center;
	}

	.navigation li a span{
		display: inline-block;
		margin: 0 5px 0 0;
	}

	.subscriberForm{
		margin-bottom: 30px;
	}

	#searchBox .searchitems li a .searchContent{
		flex: 1;
	}

	#searchBox .searchitems li a .searchImage{
		display: none;
	}

	#searchBox form, #searchBox .searchitems{
		width: 90%;
	}

	.newsLetterForm{
		display: block;
	}

	.newsLetterForm input{
		width: 100%;
		margin: 5px 0;
	}

	.newsLetterForm button{
		width: 100%;
		margin: 5px 0;
	}

	#footer{
		margin-bottom: 40px;
	}

	.mainNews .overlayContent{
		position: static;
		background-color: black;
		display: block;
	}

	.mainNews .overlayContent .rightContent ul{
		margin: 0;
	}

	.informationBar{
		display: block;
		padding: 20px;
	}

	.informationBar li:nth-child(1),
	.informationBar li:nth-child(2){
		margin: 0 0 10px 0;
	}

}

@media screen and (min-width:768px) and (max-width:1023px){

	.sectionPadding{
		padding: 40px 0;
	}

	.navigation{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--lightColor);
		font-size:14px;
		z-index: 9999;
	}

	.navigation li{
		border-right: 1px solid white;
		flex: .33;
		margin: 0;
		padding: 0 12px;
		text-align: center;
	}

	.navigation li a span{
		display: inline-block;
		margin: 0 5px 0 0;
	}

	.subscriberForm{
		margin-bottom: 30px;
	}

	#searchBox .searchitems li a .searchContent{
		flex: 1;
	}

	#searchBox .searchitems li a .searchImage{
		display: none;
	}

	#searchBox form, #searchBox .searchitems{
		width: 90%;
	}

	.newsLetterForm{
		display: block;
	}

	.newsLetterForm input{
		width: 100%;
		margin: 5px 0;
	}

	.newsLetterForm button{
		width: 100%;
		margin: 5px 0;
	}

	#footer{
		margin-bottom: 40px;
	}

	.informationBar{
		display: block;
		padding: 20px;
	}

	.informationBar li:nth-child(1),
	.informationBar li:nth-child(2){
		margin: 0 0 10px 0;
	}

}

